@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root{
  --dark-color: #222834;
  --light-color: #eee;
  --button1-color: #FD7014;
  --button2-color: #393E46;
}

body {
  list-style-type: none;
  text-align: center;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'Montserrat';
}

h1 {
  font-size: 36px;
}

h2 {
  color:var(--light-color);
  font-size: 30px;
}

.About, .Skills, .ProjectsContainer, .Contact {
  padding-top: 20px;
  padding-bottom: 20px;
}

.About {
  text-align: center;
  margin:auto;
  
  padding-top: 20px;
  padding-bottom: 0px;
}


.App {
  text-align: center;

}

.Header {
  border-bottom: 2px solid;
  border-color: var(--light-color);
}

.ProjectsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* width: 50%; */
  justify-items: center;
  margin: auto;
  align-items: center;
}

a {
  color: #eee;
}

.ProjectCard img {
  width: 200px;
  height: auto;
}

.ProjectCard {
  width: 255px;
  height: 325px;
  border: 2px solid var(--button1-color);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: var(--light-color);
  color: var(--dark-color);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.ProjectCard:hover {
  border: 4px solid var(--button1-color);
  margin: 8px;
}

.ButtonContainer {
  margin-bottom: 10px;
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
}


.ProjectButtons {
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.PreviewButton {
  background-color: var(--button1-color);
  color:var(--dark-color);
}

.PreviewButton:hover {
  border: 2px solid var(--button2-color);
  padding: 8px;
}

.CodeButton {
  background-color: var(--button2-color);
  color:var(--light-color);
}

.CodeButton:hover {
  border: 2px solid var(--button1-color);
  padding: 8px;
}


.ContactIcons {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color:#eee;
  height: 45px;
  width: auto;
  padding-bottom: 50px;
}

i {
  color:#eee;
}


@media (min-width: 600px) {
  .ProjectsContainer {
    width: 50%;
  }
  .About {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .About {
    width: 75%;
  }
  .ProjectCard {
    padding: 0px;
  }
  .SkillIcons {
    width: 75%;
  }
  .Projects {
    width: 75%;
    margin: auto;
  }
}
